/* TOPBAR */
.aw-topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 70px;
	background-color: #2C3F51;
	font-family: font-family: europa, sans-serif !important;
	z-index: 9998;
}

/* BASE */
body {
	margin: 0;
	font-size: 10px;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

@media (max-width: 640px) {
	.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
		width: 100%;
	}
}

@media (max-width: 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

.company{
	float: left;
	margin-left: 15px;
	margin-top: 8px;
	font-size: 4.5em;
	color: #ffffff;
}


@media (min-width: 960px) {
	.aw-sidebar {
		margin-left: 0px;
	}
	
	.aw-sidebar.is-toggled {
		margin-left: -241px;
	}
}

/* CONTENT */
.aw-content {
	padding: 0px;
	margin-top: 70px;
	transition: margin-left 0.5s;
}

@media (min-width: 960px) {
	.aw-content {
		margin-left: 240px;
	}
	
	.aw-content.is-toggled {
		margin-left: 0;
	}
}

/* Growl */
.ui-growl{
	position: fixed;
	z-index: 9999;
	margin-top: 150px;
}

.ui-growl-item {
	background-color: #4e718f;
}


.userMenu{
	font-size: 2em;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 20px;
}


.userDiv{
	float: right;
	margin-right: 30px;
	margin-top: 22px;
}

.logoutDiv{
	text-align:	left;
	font-size: 0.8em;
	padding-left: 10px;
	background-color: #2C3F51;
	margin-right: 25px;
}

.logoutDiv:hover{
	background-color: #4e718f;
}

/* MENU */
.aw-menu {
	background-color: #1A2530;
	font-size: 1.2em;
	height: 100%;
}

.menuItem{
	display: none;
}

.aw-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.aw-menu > ul a {
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	color: #ffffff;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
} 

.aw-menu > ul i {
	margin-left: 6px;
	margin-right: 10px;
}

.aw-menu > ul a:hover, .aw-menu > ul a:focus {
	background-color: #2C3F51;
}

.aw-menu > ul .is-selected {
	border-left: 3px solid #fffff;
	background-color: #f3f3f3;
}

.aw-menu > ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}


/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 20px 0;
	
	font-size: 1.5em;
	color: #373737;
}

/* TOGGLE */
.aw-toggle {
	float: left;
	font-size: 1.8em;
	padding-left: 45px;
	padding-top: 25px;
	color: #ffffff;
}